*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.banner{
    background: black;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    margin-bottom: 35px;
}
.banner h4,
.banner p{
    color: white;
    font-size: 25px;
}
.projects{
    margin-top: 35px;
    padding-bottom: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    border-radius: 25px;
    border: 3px solid gray;
    margin-bottom: 75px;
    width: 90%;
    min-height: 50px;
    background: rgb(0, 231, 0);
}
.project h5{
    height: 20px;
    line-height: 20px;
}
.project{
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    min-height: 50px;
    background: rgb(233, 230, 230);
}
.content{
    display: flex;
    justify-content: center;
}
.project img{
    margin-top: 5px;
    border: 2px solid white;
    width: 80%;
    height: 110px;
}
.about{
    width: 80%;
    min-height: 110px;
}
.allprojects{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.allprojects img{
    width: 75%;
}
.center{
    display: flex;
    justify-content: center;
}
.allprojects_text{
    margin-top: 20px;
    width: 75%;
}
.button{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 35px;
}
.buttonlink{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(15, 252, 35);
}
.write_me{
    width: 200px;
    height: 50px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.allprojects img{
    border: 3px solid gray;
}
.ads{
    display: flex;
    align-items: center;
    justify-content: center;
}
.adss{
    max-width: 1px;
    max-height: 1px;
}
.123{
    width: 250px;
    height: 125px;
}












@media(max-width: 1400px) {
    .allprojects{
       width: 100%;
    }
}
@media(max-width: 1100px) {
    .banner h4,
    .banner p{
        font-size: 20px;
    }
    .project{
        width: 24%;
    }
}
@media(max-width: 1050px) {
    .banner{
        padding: 0 140px;
    }
    .project{
        width: 30%;
    }
}
@media(max-width: 850px) {
    .banner{
        padding: 0 100px;
    }
    .project{
        width: 45%;
    }
    .project img{
        height: 120px;
    }
}
@media(max-width: 600px) {
    .banner h4,
    .banner p{
        font-size: 15px;
    }
    .buttonlink{
        width: 150px;
        height: 50px;
    }
    .banner{
        padding: 0 70px;
    }
    .project img{
        height: 100px;
    }
}